<section class="hero">
  <div class="container">
    <h2>Cuci Sepatu Jogja</h2>
    <p>Beri tahu sepatu anda kotor, dijamin anda puas </p>
  </div>
</section>

<!-- About Section -->
<section id="about" class="about">
  <div class="container">
    <h2>Tentang Kami</h2>
    <p>Bila Sepatu Anda Kotor, Kami Siap Membersihkan</p>
  </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="portfolio">
  <div class="container">
    <h2>Cuci Sepatu Jogja</h2>
    <div class="portfolio-grid">
      <div class="portfolio-item">
        <img src="images/spatu1.jpeg" alt="Estimasi" />
        <h3>Estimasi</h3>
        <p>Kamu bisa melihat estimasi kerja kami.</p>
      </div>
      <div class="portfolio-item">
        <img src="images/paket sabun.jpeg" alt="Project 2" />
        <h3>Paket Sabun</h3>
        <p>Paket sabun untuk sepatu kamu.</p>
      </div>
      <div class="portfolio-item">
        <img src="images/harga.jpg" alt="Project 3" />
        <h3>Price List</h3>
        <p>Kami menawarkan harga yang terjangkau.</p>
      </div>
    </div>
  </div>
</section>

<section class="hubungi">
  <a href="/contact">
    <button type="button">Contact Me</button>
  </a>
</section>