body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #120101; /* Warna latar belakang */
  }

  .login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
  }

  .login-card .logo {
    max-width: 100px;
    margin-bottom: 1rem;
    border-radius: 50%;
  }

  .login-card h2 {
    margin: 0 0 0.5rem;
    font-size: 1.5rem;
    color: #333;
  }

  .login-card p {
    margin: 0 0 1.5rem;
    font-size: 1rem;
    color: #555;
  }

  .login-form input {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  .login-form button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-form button:hover {
    background-color: #0056b3;
  }

  .footer-text {
    margin-top: 500px;
    font-size: 0.8rem;
    color: #050000;
  }
  
  .footer-text a {
    color: #0366d6;
    text-decoration: none;
  }
  
  .footer-text a:hover {
    text-decoration: underline;
  }